<h1 class="display-4 mt-4 mb-3">Student-List</h1>
<table class="table table-striped table-light">
    <thead>
        <th>ID</th>
        <th>name</th>
        <th>score</th>
        <th>grade</th>
        <th>Delete</th>
        <th>Edit</th>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.score}}</td>
            <td>{{this.grade}}</td>
            <td><button class="btn btn-danger" onclick="HandleDelete(event, {{this.id}})">Delete</button></td>
            <td><button class="btn btn-secondary">Edit</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="js/index.js"></script>